{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="login-out">
    {% if user.is_authenticated %}
     <button><a href="">log-out</a> </button>
     {% else %}
     <button> <a href="login">sign-in or sign-up</a>  </button>
     {% endif%}
    </div>

{% for feature in features %}
<div class="kih">
    {% if user.is_authenticated %}
    <h2>Welcome, {{user.username}}</h2>
    {% else %}
    <h2>Welcom to the Home Page</h2>
    {% endif %}
    <h3>{{feature.name}}</h3>
    <p>{{feature.details}}</p>
</div>
{%endfor%}